
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Inter', sans-serif;
    /* background-color:#f8f8f8    */
 }
    /* 
 .flex_card_btn insperation by @ke1221
Menu icon transofmation insperation by @Ali-Tahmazi99
*/
.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.menuButton:hover {
  border: 1px solid white;
}

.menuButton:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #131313;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type]:checked ~ span.top {
  transform: translateY(290%)rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}





























.shake-element {
    display: inline-block;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
 
 
 
  .tony_start_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    /* text-transform: uppercase; */
    border: none;
    /* box-shadow: hsl(210, 78%, 66%) 0px 7px 0px 0px;   */
    background-image:linear-gradient(to bottom, #57b6ed, #0579ee);
    border-radius: 50px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .tony_start_btn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   .tony_start_btn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .tony_start_btn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   .tony_start_btn i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   
   .tony_start_btn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   .tony_start_btn:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   .tony_start_btn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   .tony_start_btn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   .tony_start_btn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   .tony_start_btn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   .tony_start_btn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   .tony_start_btn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   .tony_start_btn:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   .tony_start_btn:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   @keyframes animation-04 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
  }
  .animationClass-04 {
    animation: animation-04 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-07 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 0px 0px 0px 0px;
    }
  }
  .animationClass-07 {
    animation: animation-07 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-06 {
    from {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 8.22686767578125px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
    to {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 72px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
  }
  .animationClass-06 {
    animation: animation-06 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-09 {
    from {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 72px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
    to {
      width: 53.93193054199219px;
      height: 53.93193054199219px;
      top: 10.05517578125px;
      left: 8.22686767578125px;
      opacity: 1;
      z-index: 1;
      transform: rotate(0deg);
      border-radius: 50%;
      background: #40a2d8ff;
      box-shadow:
        0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612),
        inset 0px 3.6564018726348877px 3.6564018726348877px 0px
          rgba(0, 0, 0, 0.10000000149011612);
    }
  }
  .animationClass-09 {
    animation: animation-09 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-05 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    }
  }
  .animationClass-05 {
    animation: animation-05 0.30000001192092896s ease-out 0s normal forwards;
  }
  @keyframes animation-08 {
    from {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffff00 0%, #ffffffff 100%);
    }
    to {
      width: 138.0291748046875px;
      height: 74.95623779296875px;
      top: 0px;
      left: 0px;
      opacity: 1;
      z-index: 0;
      transform: rotate(0deg);
      border-radius: 54.84602737426758px 54.84602737426758px 54.84602737426758px
        54.84602737426758px;
      box-sizing: border-box;
      border-left: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-right: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-top: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
      border-bottom: 16.453807830810547px solid
        linear-gradient(270deg, #ffffffff 0%, #ffffff00 100%);
    }
  }
  .animationClass-08 {
    animation: animation-08 0.30000001192092896s ease-out 0s normal forwards;
  }
  
   

  .shake-element {
    display: inline-block;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
 
 
 
  .tony_start_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    /* text-transform: uppercase; */
    border: none;
    /* box-shadow: hsl(210, 78%, 66%) 0px 7px 0px 0px;   */
    background-image:linear-gradient(to bottom, #57b6ed, #0579ee);
    border-radius: 50px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .tony_start_btn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   .tony_start_btn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .tony_start_btn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   .tony_start_btn i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   
   .tony_start_btn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   .tony_start_btn:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   .tony_start_btn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   .tony_start_btn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   .tony_start_btn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   .tony_start_btn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   .tony_start_btn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   .tony_start_btn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   .tony_start_btn:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   .tony_start_btn:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }









 


